$mautim: #87509c //Tím 
$maungoc: #17c2a4 // Cyan
$mauvang: #ffdd99 // Vang 
$maudo: #d74680 // Đỏ 
$mauxanh: #3c5499 // Xanh 
// phan silder trang chu
.home_slider
    background: $mautim 
    min-height: 368px
    color: #ffffff
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    .btn-more
        background: $maungoc
        color: #333333
        padding: .5rem 3rem

    

