extends _layout/layout.pug
block main
	section.home_slider
		.container
			.row
				.col
					h1 hello everybody
					p
						a(href="#").btn.btn-more  contact with us!
	section.home_sevices
		.container
			.row
				.col.md.mid-center
					h2.edit-size Sevices we provide					
					p
						a skjfdklsajfkjdsfljdskljfl;asdkfljdllsakdoksal;dk  l;askdl;ksal;dksla;kd;laskflksdhfkjj </br>
						a ,sdflkl;sdkfl;kasd;ljfkl;dsj
		.container
			.row
				.col-3
					figure.figure
						img(src="../img/home_icon_1.png", alt="", srcset="")
						figcaption.figure-caption BRANDING
						p 
						a dsfljlkdsajfkjdsklafjladsjkafsjdlgnjksdjjkagjkadfsjgkfdkjhg
				.col-3
					figure.figure
						img(src="../img/home_icon_2.png", alt="", srcset="")
						figcaption.figure-caption DESIGN
						p
						a dsfljlkdsajfkjdsklafjladsjkafsjdlgnjksdjjkagjkadfsjgkfdkjhg
				.col-3
					figure.figure
						img(src="../img/home_icon_3.png", alt="", srcset="")
						figcaption.figure-caption DEVELOPMENT
						
						p
						a dsfljlkdsajfkjdsklafjladsjkafsjdlgnjksdjjkagjkadfsjgkfdkjhg
				.col-3
					figure.figure
						img(src="../img/home_icon_4.png", alt="", srcset="")
						figcaption.figure-caption ROCKET SCIENCE
						
						p
						a dsfljlkdsajfkjdsklafjladsjkafsjdlgnjksdjjkagjkadfsjgkfdkjhg
					
					

							

		