extends _layout/layout.pug
block main
	section.home_slider
		.container
			.row
				.col
					h1 smdlksajl;djkassdsadasdsadsadsadsadsdsad
					p
						a(href="#").btn.btn-more  fdlkfldkffgfg
							

		